.deep{ height: 70px; }
body{ background-color: skyblue; }
.yhyh{ background-image: url(https://images.unsplash.com/photo-1540202404-a2f29016b523?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1033&q=80);
height: 600px;background-repeat: no-repeat;width: 100%;background-position: center;background-size: cover; }
.dope{ float: none; }
.things{margin-left:200px;width: 350px;border: 1px solid #335379;padding: 15px;background-color:#335379;border-radius: 10px;height: 410px;margin-top: 150px;}
.doe{width: 100%;height: 30px;font-size: 20px;}
.eye{ width: 100%;height: 30px;margin-left: px;text-align: left;font-size: 20px; }
.he{ font-family:kristen itc;font-size: 26px;color: #d0e0e3; }



