body{
	background-image: url(https://partners.bolt.eu/v11.56.0/assets/img/drivers-bg-2-068f5c0ff1f6b1ecddb61c89ba4173d3.jpg);
	background-repeat: no-repeat;background-size: cover;height: 1000px;width: 3000px;}
.juu{ margin-top: 30px;padding-left: 420px; }
.joro{ margin-top: 49px;padding-left: 65px;font-size:18px;color: white; }
h6{ color: white; }


 




