body{
	background-image: url(https://partners.bolt.eu/v11.56.0/assets/img/drivers-bg-2-068f5c0ff1f6b1ecddb61c89ba4173d3.jpg);
	background-repeat: no-repeat;background-size: cover;height: 1000px;width: 3000px;}
.juu{ margin-top: 30px;padding-left: 380px;color: white; }
.joro{ margin-top: 49px;padding-left: 65px;font-size:18px;color: white; }
h6{ color: white; }
.drv{ padding-left: 450px;margin-top: 55px;float: left; }
.ocean{ float: left; }
.cean{ float: none;margin-left: 454px;margin-top: 34px; }
.dope{ float: none; }
.things{margin-left:1124px;width: 410px;border: 1px solid white;padding: 15px;background-color: white;border-radius: 10px; }
.doe{width: 380px;height: 50px;font-size: 20px;}
.dede{ width: 153px;text-align: center;height: 50px;font-size: 20px;font-family: sans-serif; }
.eye{ width: 228px;height: 50px;margin-top:-50px;margin-left: 150px;text-align: left;font-size: 20px; }
.dem{width: 380px;height: 50px;font-size: 20px;font-family: sans-serif;}